<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>MPC</title>
    <link rel="stylesheet" href="../static/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/css/vendor.bundle.base.css">
    <link rel="stylesheet" href="../static/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="../static/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="../static/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <link rel="stylesheet" href="../static/assets/css/style.css">
    <link rel="shortcut icon" href="../static/assets/images/favicon.png" />
  </head>
  <body>
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="/index"><span class="text-success" style="text-decoration-line: none">Dashboard</span></a>

        </div>
        <ul class="nav">
          <li class="nav-item menu-items">
            <a class="nav-link" href="/index">
              <span class="menu-icon">
                <i class="mdi mdi-lock-reset"></i>
              </span>
              <span class="menu-title">Reset Everything</span>
            </a>
          </li>
        </ul>
      </nav>
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">

        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <ul class="navbar-nav navbar-nav-right">
              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown" aria-expanded="false">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="../../../static/assets/images/faces/face15.jpg" alt="">
                    <p class="mb-0 d-none d-sm-block navbar-profile-name">Dinesh Kumar Murugan</p>
                  </div>
                </a>
              </li>
            </ul>
          </div>
        </nav>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="row">
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card" >
                  <div class="card-body">
                    <h4 class="card-title text-warning display-3">Amazon Mobile Prices</h4>
                    <form class="forms-sample" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <input type="text" class="form-control" id="amazon_page_size" name="amazon_page_size" placeholder="Enter the number of pages you want to scrap">
                      </div>
                      <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mobile Brand Name : </label>
                            <div class="col-sm-9">
                              <select class="form-control" id="search" name="search">
                                <option>Redmi</option>
                                <option>Oppo</option>
                                <option>Vivo</option>
                                <option>Samsung</option>
                                <option>Poco</option>
                                <option>Realme</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      <button type="submit" class="btn btn-outline-warning btn-fw"><i class="mdi mdi-file-check btn-icon-prepend"></i>Submit</button>
                      <a href="/index" class="btn btn-outline-warning btn-fw"><i class="mdi mdi-reload "></i>Reset</a>
                    </form>
                  </div>
                </div>
              </div>
              <div class="col-md-6 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title text-primary display-3">Flipcart Mobile Prices</h4>
                    <form class="forms-sample" method="POST" enctype="multipart/form-data">
                      {% csrf_token %}
                      <div class="form-group">
                        <input type="text" class="form-control" id="flipcart_page_size" name="flipcart_page_size" placeholder="Enter the number of pages you want to scrap">
                      </div>
                      <div class="col-md-12">
                          <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Mobile Brand Name : </label>
                            <div class="col-sm-9">
                              <select class="form-control" id="search" name="search">
                                <option>Redmi</option>
                                <option>Oppo</option>
                                <option>Vivo</option>
                                <option>Samsung</option>
                                <option>Poco</option>
                                <option>Realme</option>
                              </select>
                            </div>
                          </div>
                        </div>
                      <button type="submit" class="btn btn-outline-primary btn-fw"><i class="mdi mdi-file-check btn-icon-prepend"></i>Submit</button>
                      <a href="/index" class="btn btn-outline-primary btn-fw"><i class="mdi mdi-reload "></i>Reset</a>
                    </form>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12 col-sm-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <div class="row">
                      <div class="col-12">
                        <div class="align-items-center align-self-start">
                          <h3 class="mb-0">Compare the mobile prices between
                            <span class="text-warning"> Amazon</span>
                            <span style="font-weight: lighter;color: #6c7293;" >&</span>
                            <span class="text-behance">Flipcart</span>
                            <a href="/compare">
                          <button class="btn float-right btn-outline-success btn-rounded btn-fw" type="button">Compare</button>
                        </a>
                          </h3>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!-- Dataset results -->
            <div class="row">
              {% if amazon_result %}
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Current Mobile Prices in <span class="text-warning">Amazon</span>
                      <a href="/download_amazon">
                      <button type="button" class="float-right btn btn-outline-secondary btn-rounded btn-icon">
                            <i class="mdi mdi-cloud-download text-success"></i>
                      </button>
                      </a><p></p>
                      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for mobiles..." class="form-control col-sm-9" >
                    </h4>
                    <div class="table-responsive">
                      <table class="table" id="table">
                        <thead>
                          <tr>
                            <th> Mobile Name </th>
                            <th> Colour </th>
                            <th> RAM </th>
                            <th> Storage </th>
                            <th> Amazon Price </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for result in amazon_result %}
                          <tr>
                            <td class="text-warning"> {{result.name}} </td>
                            <td> {{result.color}} </td>
                            <td> {{result.ram}} GB </td>
                            <td> {{result.rom}} GB </td>
                            <td class="text-success"> Rs. {{result.price}} </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              {% endif %}
              {% if flipcart_result %}
              <div class="col-12 grid-margin">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Current Mobile Prices in <span class="text-behance">Flipcart</span>
                    <a href="/download_flipcart">
                      <button type="button" class="float-right btn btn-outline-secondary btn-rounded btn-icon">
                            <i class="mdi mdi-cloud-download text-success"></i>
                      </button></a>
                      <p></p>
                      <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for mobiles..." class="form-control col-sm-9" >
                    </h4>
                    <div class="table-responsive">
                      <table class="table" id="table">
                        <thead>
                          <tr>
                            <th> Mobile Name </th>
                            <th> Colour </th>
                            <th> RAM </th>
                            <th> Storage </th>
                            <th> Amazon Price </th>
                          </tr>
                        </thead>
                        <tbody>
                        {% for result in flipcart_result %}
                        <tr>
                            <td class="text-behance"> {{result.name}} </td>
                            <td> {{result.color}} </td>
                            <td> {{result.ram}} GB </td>
                            <td> {{result.rom}} GB </td>
                            <td class="text-success"> Rs. {{result.price}} </td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              {%  endif %}
            </div>
          </div>
          <!-- content-wrapper ends -->
          <!-- partial:partials/_footer.html -->
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../static/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="../static/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="../static/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="../static/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="../static/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="../static/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../static/assets/js/off-canvas.js"></script>
    <script src="../static/assets/js/hoverable-collapse.js"></script>
    <script src="../static/assets/js/misc.js"></script>
    <script src="../static/assets/js/settings.js"></script>
    <script src="../static/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="../static/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
  <script>
  function myFunction() {
    var input, filter, table, tr, td, i, txtValue;
    input = document.getElementById("myInput");
    filter = input.value.toUpperCase();
    table = document.getElementById("table");
    tr = table.getElementsByTagName("tr");
    for (i = 0; i < tr.length; i++) {
      td = tr[i].getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
        if (txtValue.toUpperCase().indexOf(filter) > -1) {
          tr[i].style.display = "";
        } else {
          tr[i].style.display = "none";
        }
      }
    }
  }
  </script>
  </body>
</html>